


html{
  
  background-image: url(image/forest.jfif);
  background-repeat: no-repeat;
  background-size: cover;
}


div{
  color: rgb(0, 0, 0);
  text-decoration: wavy;
  font-weight: bolder;
  font-size: large;
  text-align: center;
}
.title{
  width: 50%;
  margin: auto;
}
.gamebox{
  width: 50%;
  margin: auto;
}
.databox{
  width: 50%;
  margin: auto;
}

button{
  
  border:none;
  color: rgb(0, 0, 0)

}
#colorpicker{
  background-color: rgb(0, 0, 0);
  border: none
}
